{% extends 'base.html.twig' %}
{% form_theme uploadForm '@App/Form/form_layout.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form(uploadForm, {attr:{class:'form-inline', novalidate: 'novalidate'}}) }}
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th width="50"></th>
                    <th width="500" class="mdl-data-table__cell--non-numeric">File name</th>
                    <th width="100">
                        <div class="dropdown">
                            <a href="javascript:void(0);" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Author <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="filterDocuments('all')">All</a></li>
                                {% for author in authors %}
                                <li><a href="javascript:void(0);" onclick="filterDocuments('{{ author.username }}')">{{ author.username }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <a href="javascript:void(0);" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Folder <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="filterDocuments('all')">All</a></li>
                                {% for folder in folders %}
                                    <li><a href="javascript:void(0);" onclick="filterDocuments('{{ folder.name }}')">{{ folder.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <th>Upload date</th>
                    <th>Last modified</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="7" class="mdl-data-table__cell--non-numeric"><h5>My documents ({{ documents | length }})</h5></td>
                </tr>
                {% for document in documents  %}
                {% set defaultClass = '' %}
                {% if document.shared%}
                    {% set defaultClass = 'success' %}
                {% endif %}
                <tr class="document-row {{ defaultClass }}">
                    {% set image = 'bundles/app/images/' ~ document.type | lower ~ '.png' %}
                    <td><img src="{{ asset(image) }}" /></td>
                    <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('document_details', {'id': document.id}) }}">{{document.filename}}</a></td>
                    <td class="document-username">{{document.user.username}}</td>
                    <td class="document-folder">{{document.folder.name}}</td>
                    <td>{{document.uploadDate | date('Y-m-d')}}</td>
                    <td>{{document.lastModified | date('Y-m-d H:i:s')}}</td>
                    <td>
                        <div class="dropdown">
                            <span class="glyphicon glyphicon-option-vertical" type="button" id="dropdownMenu1" data-toggle="dropdown"></span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#"><i class="material-icons">file_download</i>Download</a></li>
                                <li><a href="{{ path('document_sharing', {'id': document.id}) }}" class="btn-share"><i class="material-icons">share</i>Share</a></li>
                                <li><a href="{{ path('edit_document', {'id': document.id}) }}"><i class="material-icons">edit</i>Update</a></li>
                                <li><a href="{{ path('remove_document', {'id': document.id}) }}"><i class="material-icons">delete</i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="7" class="mdl-data-table__cell--non-numeric"><h5>Sharing with me ({{ app.user.sharingDocuments | length }})</h5></td>
                </tr>
                {% for document in app.user.sharingDocuments  %}
                    <tr class="document-row">
                        {% set image = 'bundles/app/images/' ~ document.type | lower ~ '.png' %}
                        <td><img src="{{ asset(image) }}" /></td>
                        <td class="mdl-data-table__cell--non-numeric"><a href="{{ path('document_details', {'id': document.id}) }}">{{document.filename}}</a></td>
                        <td class="document-username">{{document.user.username}}</td>
                        <td class="document-folder">{{document.folder.name}}</td>
                        <td>{{document.uploadDate | date('Y-m-d')}}</td>
                        <td>{{document.lastModified | date('Y-m-d H:i:s')}}</td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/app/js/document.js'
        output='js/complied/document.js'
    %}
    <script src="{{ asset_url }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.btn-share').colorbox({'width': '600px'});
        })
    </script>
    {% endjavascripts %}
{% endblock %}
