<link rel="stylesheet" href="{{ asset('bundles/app/css/select2.css') }}"/>

<div>
    {{ form_start(sharingForm) }}
    <input type="hidden" name="callbackRoute" value="{{ callbackRoute }}" />
    <div class="modal-header">
        <h3 class="modal-title" id="shareModalLabel">Sharing document</h3>
    </div>
    <div class="modal-body">
        {{ form_rest(sharingForm) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="parent.$.colorbox.close()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
    {{ form_end(sharingForm) }}
</div>

<script src="{{ asset('bundles/app/js/select2.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.multi-select').select2();
    })
</script>
{#
<div class="modal" id="shareModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(sharingForm) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="shareModalLabel">Sharing document</h4>
            </div>
            <div class="modal-body">
                {{ form_rest(sharingForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            {{ form_end(sharingForm) }}
        </div>
    </div>
</div>#}
