{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
            <div id="status">
                <p>
                    Your application is ready to start working on it at:
                    <code>{{ base_dir }}/</code>
                </p>
            </div>
            <div id="link">
                {% if app.user %}
                    <a href="{{ path('fos_user_security_logout') }}" class="status">Disconnect</a>
                    <br/>
                    <a href="{{ path('fos_user_profile_show') }}" class="status">Show profile</a>
                {% else%}
                    <a href="{{ path('fos_user_security_login') }}" class="status">Login</a>
                    <br/>
                    <a href="{{ path('fos_user_registration_register') }}" class="status">Signup</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
