{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <h2>My folders</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Folder name</th>
                    <th>Author</th>
                    <th>Number documents</th>
                    <th>last modified</th>
                </tr>
                </thead>
                <tbody>
                {% for folder in folders  %}
                <tr>
                    <td><a href="{{ path('documents', {folder_id: folder.id}) }}">{{folder.__toString | raw }}</a></td>
                    <td>{{ folder.user.username }}</td>
                    <td>{{ folder.documents | length }}</td>
                    <td>&nbsp;</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}